.ace_scroller, .ace_sb, .light-scroll {
  &::-webkit-scrollbar {  
    height: 15px; width: 15px;
  }

  &::-webkit-scrollbar-thumb {  
    border-width: 7px 7px 7px 7px;
    -webkit-border-image: url(/images/scroll-light.png) 7 7 7 7 round round;
  }
}
